<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">H&K</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li 

      {% if '/' == request.path %}
      class = "nav-item active"
      {% else %}
      class = "nav-item"
      {% endif %}
      
      >
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li
      {% if 'cars' in request.path %}
      class = "nav-item active"
      {% else %}
      class = "nav-item"
      {% endif %}
      >
        <a class="nav-link" href="{% url 'all_cars' %}">Cars</a>
      </li>

     <li
      {% if 'about' in request.path %}
      class = "nav-item active"
      {% else %}
      class = "nav-item"
      {% endif %}
      >
        <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
      </li>

      <li
      {% if 'handlers' in request.path %}
      class = "nav-item active"
      {% else %}
      class = "nav-item"
      {% endif %}
      >
        <a class="nav-link" href="{% url 'all_handlers' %}">Team</a>
      </li>
     
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-auto">
         <a class="nav-link" href="#">Register</a>
         </li>
         <li class="nav-item mr-auto">
         <a class="nav-link" href="#">Login</a>
         </li>
    </ul>
  </div>
</nav>